<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <style type="text/css">
        .myRow{
            margin-bottom:5px
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form id="myForm">
        <div class="row myRow">
            <div class="col-md-4">
                <label for="orderNumber">订单号</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="orderNumber"  name="orderNumber" placeholder="订单号">
                <input type="hidden" class="form-control" id="id"  name="id" >
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="courseInfo">课程名称</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="courseInfo"  name="courseInfo" placeholder="课程名称">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="teacherInfo">课程名称</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="teacherInfo"  name="teacherInfo" placeholder="讲师信息">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="userInfo">用户信息</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="userInfo"  name="userInfo" placeholder="用户信息">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="dealType">交易类型</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="dealType" name="dealType" placeholder="交易类型">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="payType">支付方式</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="payType" name="payType" placeholder="支付方式">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="orderPrice">支付金额</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="orderPrice" name="orderPrice" placeholder="支付金额">
            </div>
        </div><div class="row myRow">
        <div class="col-md-4">
            <label for="buyType">购买方式</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" id="buyType" name="buyType" placeholder="购买方式">
        </div>
    </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label>订单状态</label>
            </div>
            <div class="col-md-8">
                <input type="radio" id="1" name="orderStatus" value="1" placeholder="状态">正常
                <input type="radio" id="0" name="orderStatus" value="0" placeholder="状态">异常
               <!-- <input type="text" class="form-control" id="orderStatus" name="orderStatus" placeholder="订单状态">-->
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="peopleRemarks">客户备注</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="peopleRemarks" name="peopleRemarks" placeholder="客户备注">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="payTime">支付时间</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="payTime" name="payTime" placeholder="支付时间">
            </div>
        </div>
        <!--<div class="row myRow">
            <div class="col-md-4">
                <label>状态</label>
            </div>
            <div class="col-md-8">
                &lt;!&ndash;                <input type="radio"  name="charge" value="免费">免费
                                <input type="radio"  name="charge" value="收费">收费&ndash;&gt;
              &lt;!&ndash;  <input type="radio" id="1" name="status" value="1" placeholder="状态">正常
                <input type="radio" id="0" name="status" value="0" placeholder="状态">异常&ndash;&gt;
            </div>
        </div>-->
    </form>
</div>
</body>
<script type="text/javascript">
</script>
</html>