<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style type="text/css">
        .myRow{
            margin-bottom:5px
        }
    </style>

</head>
<body>

<div class="container-fluid">
    <form id="myForm">
        <div class="row myRow">
            <div class="col-md-2">
                <label for="name">机构名称</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入机构名称">
                <input type="hidden" class="form-control" id="id" name="id" placeholder="请输入名称">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-2">
                <label for="type">机构类型</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="type" name="type" placeholder="请输入机构类型">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-2">
                <label for="area">机构地址</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="area" name="area" placeholder="请输入机构地址">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-2">
                <label for="datatime">创建时间</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="datatime" name="datatime" placeholder="请输入创建时间">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-2">
                <label for="number">机构人数</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="number" name="number" placeholder="请输入机构人数">
            </div>
        </div>
        <!--<div class="row myRow">
            <div class="col-md-2">
                <label>课程封面</label>
            </div>
            <div class="col-md-10">
                <input type="text" id="testimg" name="img" />
                &lt;!&ndash; projectfile &ndash;&gt;
                <input type="file" multiple class="projectfile" accept="image/*" name="img" id="userImg">
            </div>
        </div>-->
    </form>
</div>


</body>

<script type="text/javascript">


</script>
</html>