<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .myRow{
            margin-bottom:5px
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form id="myForm">
        <div class="row myRow">
            <div class="col-md-4">
                <label>*讲师名称</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name"  name="name" placeholder="请输入讲师名称">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label>*手机号码</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control"  name="" placeholder="请输入手机号">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label>讲师邮箱</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control"  name="" placeholder="请输入邮箱">
            </div>
        </div>
    </form>
</div>
</body>
</html>