<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <style type="text/css">
        .myRow{
            margin-bottom:5px
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form id="myForm">
        <div class="row myRow">
            <div class="col-md-4">
                <label for="mobile">手机</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="mobile"  name="mobile" placeholder="请输入手机号">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="real_name">姓名</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="real_name" name="real_name" placeholder="真实姓名">
            </div>
        </div>

        <div class="row myRow">
            <div class="col-md-4">
                <label>备注</label>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" name="remark" rows=5 cols=20></textarea>
            </div>
        </div>

    </form>
</div>
</body>
<script type="text/javascript">

</script>
</html>