<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>官网首页</title>
</head>
<link rel="stylesheet" href="/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="/bootstrap/bootstrap3/css/bootstrap.css">
<link rel="stylesheet" href="/bootstrap/bootstrap-table/bootstrap-table.css">
<link rel="stylesheet" href="/bootstrap/bootstrap-fileinput/css/fileinput.css">
<link rel="stylesheet" href="/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css">
<link rel="stylesheet" href="/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css">
<script src="/bootstrap/easyui1.5/jquery.min.js"></script>
<script src="/bootstrap/bootstrap3/js/bootstrap.js"></script>
<script src="/bootstrap/bootstrap-table/bootstrap-table.js"></script>
<script src="/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap/bootbox/bootbox.all.min.js"></script>
<script src="/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script src="/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">领科教育系统</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- 导航树 -->
            <div id="myTree"></div>
        </div>
        <div class="col-md-10">
            <!-- 选项卡 -->
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>

                <!-- 选项卡下内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        欢迎登陆!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        initTree();//初始化树
    })

    function initTree(){
        $.ajax({
            url:"/findTree",
            type:"post",
            success:function(data){
                //显示树
                $('#myTree').treeview({
                    data:data,
                    onNodeSelected:function(event, node) {
                        //选项卡
                        $.addtabs({iframeHeight: 550});
                        $.addtabs.add({
                            id:node.id,
                            title:node.text,
                            url:node.url
                        });
                    }
                })
            }
        })
    }
</script>
</html>