<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <style type="text/css">
        .myRow{
            margin-bottom:5px
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form id="myForm">

        <div class="row myRow">
            <div class="col-md-4">
                <label for="password1">密码</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="password1" name="password" placeholder="">
                <input type="text" class="form-control"  name="account" id="account">
            </div>
        </div>
        <div class="row myRow">
            <div class="col-md-4">
                <label for="password2">确认密码</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="password2" name="password2" placeholder="">
            </div>
        </div>



    </form>
</div>
</body>
<script type="text/javascript">




</script>